---
layout: default
title: "人生是一段旅途"
---
<div class="tags">
{% for tag in post.tags %}
<a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
{% endfor %}
</div>
{% for post in site.posts limit:32 %}
<article class="post">
     <header>
        <h2>{{ post.date | date:"%YYYY %MM %DD " }}，<a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}，</a></h2>
     </header>
     <div class="con">
        <p>
            {{ post.content  | | split:'<!--more-->' | first | strip_html }}
        </p>
     </div>
</article>
{% endfor %}

